[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faiss-cpu = "*"
pypdf = "*"
openai = "*"
langchain-core = "*"
langchain = "*"
langchain-community = "*"
langchain-huggingface = "*"
huggingface-hub = "*"
sentence-transformers = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.13"
